.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 40px;
}

.logo {
  display: inline-block;

  a {
    display: block;
  }
}

.header {
  background-color: var(--header-background);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;

    @media (max-width: 450px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  li {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;

    a {
      color: white;
      display: inline-block;
      padding: 0;
      text-decoration: none;

      &:hover {
        color: var(--qwik-light-blue);
      }
    }
  }
}
